*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgba(13, 13, 13, 0.929);
    font-size:25px;
}

.app{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    align-items: center;
}

.btn-grad {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 8px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
